{% if not root %}<ul>{% endif %}
    {% for item in bc.items %}
            {% if root and loop.last %}
                {% if params.show_last %}
                    <li class="{{ loop.last ? 'active' }} {{ params.item_class }}">
                        {% if params.link_last %}
                            <a href="{{ item.url }}" title="{{ item.name }}">{{ item.name }}</a>
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                    </li>
                {% endif %}
            {% else %}
                <li class="{{ loop.last ? 'active' }} {{ params.item_class }}">
                    <a href="{{ item.url }}" title="{{ item.name }}">{{ item.name }}</a>
                    {% if bc.hasChildren(item) %}
                        {% include 'BtnBreadcrumbBundle::_item.html.twig' with
                            { 'bc': item, 'params': params, 'root': false } only %}
                    {% endif %}
                </li>
                {% if root and params.display_seperator and not loop.last %}
                    {% if not params.show_last and loop.index + 1 == loop.length %}

                    {% else %}
                        <li class="{{ params.separator_class }}">{{ params.separator }}</li>
                    {% endif %}
                {% endif %}
            {% endif %}
    {% endfor %}
{% if not root %}</ul>{% endif %}